<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Edit Assesment Page</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/Add">Create</a>
            </li>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="mx-5 p-5">
      <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
          <h1>Assesment Make up Form</h1>
          <h6>Please enter Make up Date below</h6>
          <form method="post" action="/edit/<%= id %>">
            <fieldset>
              <div class="container mb-3">
                <div class="input-group mb-3">
                  <span class="input-group-text">Your Name</span>
                  <input class="form-control" id="name" name="name" type="text" value="<%= test.name %>" required />
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Subject</span>
                    <input class="form-control" id="subject" name="subject" type="text" value="<%= test.subject %>" required />
                    <span class="input-group-text">Block/Section you take this class</span>
                    <select class="form-select" id="block" name="block" value="<%= test.block %>" required>
                     <option value="Block1">Block 1</option>
                      <option value="Block2">Block 2</option>
                      <option value="Block3">Block 3</option> 
                      <option value="Block4">Block 4</option>
                      <option value="Block5">Block 5</option>
                      <option value="Block6">Block 6</option>
                     <option value="Block7">Block 7</option>
                     <option value="Block8">Block 8</option>
                    </select>
                    </div>
                    <div class="input-group mb-3">
                    <span class="input-group-text">Assesment Name</span>
                    <input class="form-control" id="assesment" name="assesment" type="text" value="<%= test.assesment %>" required />
                    </div>
                    <div class="input-group mb-3">
                    <span class="input-group-text">Quiz or Test</span>
                    <select class="form-select" id="type" name="type"  value="<%= test.type %>" required>
                        <option value="Quiz">Quiz</option>
                        <option value="Test">Test</option>
                    </select>
                    </div>
                    <div class="input-group mb-3">
                    <span class="input-group-text">Date to Make Up</span>
                    <input type="date" id="date" name="date" value="<%= test.date %>">
                    </div>
                    <div class="input-group mb-3">
                    <span class="input-group-text">Block making up in</span>
                    <select class="form-select" id="section" name="section" value="<%= test.subject %>" required>
                     <option value="Section1">Block 1</option>
                     <option value="Section2">Block 2</option>
                     <option value="Section3">Block 3</option> 
                     <option value="Section4">Block 4</option>
                      <option value="Section5">Block 5</option>
                     <option value="Section6">Block 6</option>
                     <option value="Section7">Block 7</option>
                      <option value="Section8">Block 8</option>
                      </select>
                      <div class="input-group mb-3">
                </div>
                </div>
              </div>
            </fieldset>
            <input type="submit" id="submit" value="Update" />
          </form>
        </div>
        <div class="col-3"></div>
      </div>
    </div>
    </div>
    <div class="m-5 p-5">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4"></div>
        </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>